
#b{
    background-color: #1E2F97;
  }
  #aqua:link{
    background-color: transparent;
    color: #ffffff;
  }
  #orange{
    color: orange;
  }
  img{
    width: 200px;
  }
  .sidenav{
    text-align: right;
  }
  .container{
    align-self: left;
  }
  .container1{
    align-self: right;
  }
a{
    text-decoration: none;
    background-color: transparent;
}
p{
    text-align: center;
}
h2{
    background-color: rgb(59, 63, 63);
    color: #82eefd;
}
h1{
    background-color: blue;
    color: bisque;
}